<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Introduction</a></li>
        		<li><a href="/research">Research</a></li>
	        	<li><a href="/data">Data</a></li>
        		<li><a href="/methodology">Methodology</a></li>
			<li><a href="/results">Results</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    		{{ content }}
    
		</div><!-- /.container -->
		<footer>
    		<ul>
			<li>AC 209a: William Chang, Luran He, Nari Johnson, Handong Park</li> 
        		<li><a href="https://handypark.github.io">handypark.github.io</a></li>
		</ul>
		</footer>
	</body>
</html>
